In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import pymongo
from splinter import Browser

In [92]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [94]:
url='https://www.the-numbers.com/movie/budgets/all'
browser.visit(url)

In [95]:
movie_df=[]

In [96]:
page_list=['101-200','201-300','301-400','401-500','501-1,000']
for page in page_list:
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    table=soup.find_all('table')[0]
    df=pd.read_html(str(table))
    df=df[0]
    df=df.drop(columns='Unnamed: 0')
    movie_df.append(df)
    browser.click_link_by_partial_text(page)

In [97]:
movies_df=movie_df[0].append(movie_df[1]).append(movie_df[2]).append(movie_df[3]).append(movie_df[4]).reset_index().drop(columns='index')

In [98]:
movies_df

,ReleaseDate,Movie,ProductionBudget,DomesticGross,WorldwideGross
0,"Apr 23, 2019",Avengers: Endgame,"$400,000,000","$858,373,000","$2,797,800,564"
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$379,000,000","$241,063,875","$1,045,663,875"
2,"Apr 22, 2015",Avengers: Age of Ultron,"$365,000,000","$459,005,868","$1,403,013,963"
3,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,068,223,624"
4,"Apr 25, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,359,754"
...,...,...,...,...,...
495,"Jul 7, 2004",King Arthur,"$90,000,000","$51,877,963","$203,877,963"
496,"Apr 25, 1997",Volcano,"$90,000,000","$47,546,796","$120,100,000"
497,"Mar 26, 1997",The Devil's Own,"$90,000,000","$42,885,593","$140,900,000"
498,"Jul 19, 2002",K-19: The Widowmaker,"$90,000,000","$35,168,966","$65,716,126"
499,"Aug 19, 2011",Conan the Barbarian,"$90,000,000","$21,295,021","$63,356,133"