In [60]:
#dependencies
import pandas as pd
from bs4 import BeautifulSoup
import pymongo
from splinter import Browser
import requests
from config import api_key
import json
from pprint import pprint

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [27]:
url='https://www.the-numbers.com/movie/budgets/all'
browser.visit(url)

In [28]:
movie_df=[]

In [29]:
#scrapes top 500 movie production budgets
page_list=['101-','201-','301-','401-','501-']
for page in page_list:
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    table=soup.find_all('table')[0]
    df=pd.read_html(str(table))
    df=df[0]
    df=df.drop(columns='Unnamed: 0')
    movie_df.append(df)
    browser.click_link_by_partial_text(page)

C:\Users\nickc\anaconda\Anaconda3\envs\pythondata\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [30]:
#appends movie data into one dataframe 
movies_df=movie_df[0].append(movie_df[1]).append(movie_df[2]).append(movie_df[3]).append(movie_df[4]).reset_index().drop(columns='index')

In [31]:
movies_df

,ReleaseDate,Movie,ProductionBudget,DomesticGross,WorldwideGross
0,"Apr 23, 2019",Avengers: Endgame,"$400,000,000","$858,373,000","$2,797,800,564"
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$379,000,000","$241,063,875","$1,045,663,875"
2,"Apr 22, 2015",Avengers: Age of Ultron,"$365,000,000","$459,005,868","$1,403,013,963"
3,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,068,223,624"
4,"Apr 25, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,359,754"
...,...,...,...,...,...
495,"Jul 7, 2004",King Arthur,"$90,000,000","$51,877,963","$203,877,963"
496,"Apr 25, 1997",Volcano,"$90,000,000","$47,546,796","$120,100,000"
497,"Mar 26, 1997",The Devil's Own,"$90,000,000","$42,885,593","$140,900,000"
498,"Jul 19, 2002",K-19: The Widowmaker,"$90,000,000","$35,168,966","$65,716,126"
499,"Aug 19, 2011",Conan the Barbarian,"$90,000,000","$21,295,021","$63,356,133"

In [32]:
movies_df.to_csv('movies_data.csv')

In [118]:
#OMDB url
url=f'http://www.omdbapi.com/?t='
#empty lists to be appended later
imdb_rating_list=[]
metascore_list=[]
rotten_tomatoes_score_list=[]
rated_list=[]
#OMDB api call for ratings
for movie in movies_df['Movie']:
    print(movie)
    response=requests.get(url+movie+'&apikey='+api_key)
    data=response.json()
    try:
        
        try:
            imdb_rating=data['Ratings'][0]['Value']
        except:
            imdb_rating='NaN'
        metascore=data['Metascore']
        try:
            rotten_tomatoes=data['Ratings'][1]['Value']
        except IndexError:
            rotten_tomatoes='NaN'
        rated=data['Rated']
    except:
        imdb_rating='NaN'
        rotten_tomatoes='NaN'
        metascore='NaN'
        rated='NaN'
    metascore_list.append(metascore)
    imdb_rating_list.append(imdb_rating)
    rotten_tomatoes_score_list.append(rotten_tomatoes)
    rated_list.append(rated)

Avengers: Endgame
Pirates of the Caribbean: On Stranger Tides
Avengers: Age of Ultron
Star Wars Ep. VII: The Force Awakens
Avengers: Infinity War
Pirates of the Caribbean: At World’s End
Justice League
Spectre
Star Wars: The Rise of Skywalker
Solo: A Star Wars Story
John Carter
Batman v Superman: Dawn of Justice
The Lion King
Tangled
Spider-Man 3
Captain America: Civil War
Harry Potter and the Half-Blood Prince
The Hobbit: The Desolation of Smaug
The Hobbit: The Battle of the Five Armies
The Fate of the Furious
No Time to Die
Avatar
Superman Returns
The Dark Knight Rises
Pirates of the Caribbean: Dead Men Tell No Tales
Quantum of Solace
The Avengers
Pirates of the Caribbean: Dead Man’s Chest
Man of Steel
The Chronicles of Narnia: Prince Caspian
The Lone Ranger
Tenet
The Amazing Spider-Man
Battleship
Transformers: The Last Knight
Jurassic World
Men in Black 3
Transformers: Revenge of the Fallen
Transformers: Age of Extinction
X-Men: The Last Stand
Robin Hood
King Kong
The Golden Compass
Black Panther
Titanic
Star Wars Ep. VIII: The Last Jedi
Incredibles 2
Rogue One: A Star Wars Story
Finding Dory
Toy Story 4
Toy Story 3
Iron Man 3
Guardians of the Galaxy Vol 2
Spider-Man 2
Alice in Wonderland
Skyfall
The Hobbit: An Unexpected Journey
Monsters University
Oz the Great and Powerful
X-Men: Days of Future Past
The Amazing Spider-Man 2
Cars 2
Fast & Furious Presents: Hobbs & Shaw
Tron: Legacy
2012
Fantastic Beasts: The Crimes of Grindelwald
Terminator Salvation
Green Lantern
Prince of Persia: Sands of Time
Dark Phoenix
Transformers: Dark of the Moon
The Mummy
Jack the Giant Slayer
Furious 7
Star Trek Into Darkness
World War Z
The Great Gatsby
Disney’s A Christmas Carol
Pacific Rim
The Good Dinosaur
Iron Man
The Dark Knight
Indiana Jones and the Kingdom of the Crystal Skull
Brave
Kong: Skull Island
Star Trek Beyond
Maleficent: Mistress of Evil
Blade Runner 2049
Terminator: Dark Fate
Aladdin
Thor: Ragnarok
The Chronicles of Narnia: The Lion, the Witch a…
Maleficent
Fantastic Beasts and Where to Find Them
WALL-E
Rush Hour 3
The Legend of Tarzan
Hugo
Valerian and the City of a Thousand Planets
Jupiter Ascending
Mission: Impossible—Fallout
X-Men: Apocalypse
The Meg
Edge of Tomorrow
Captain Marvel
The Jungle Book
Inside Out
Spider-Man: Homecoming
Suicide Squad
Up
Coco
Ralph Breaks The Internet
Monsters vs. Aliens
Cars 3
G.I. Joe: The Rise of Cobra
Wild Wild West
The Mummy: Tomb of the Dragon Emperor
Evan Almighty
Waterworld
Dolittle
King Arthur: Legend of the Sword
47 Ronin
Jurassic World: Fallen Kingdom
Guardians of the Galaxy
Iron Man 2
Captain America: The Winter Soldier
Dawn of the Planet of the Apes
The Polar Express
Snow White and the Huntsman
Terminator 3: Rise of the Machines
Van Helsing
Dumbo
Godzilla: King of the Monsters
Tomorrowland
Alita: Battle Angel
Alice Through the Looking Glass
Shrek Forever After
Doctor Strange
Big Hero 6
How to Train Your Dragon
Wreck-It Ralph
Interstellar
Independence Day: Resurgence
Cowboys and Aliens
Beauty and the Beast
Spider-Man: Far From Home
Aquaman
Shrek the Third
Inception
The Hunger Games: Mockingjay - Part 2
Fast and Furious 6
Godzilla
X-Men: First Class
The Curious Case of Benjamin Button
The Sorcerer's Apprentice
Poseidon
Warcraft
The Irishman
Deepwater Horizon
The Chronicles of Narnia: The Voyage of the Daw…
Terminator: Genisys
Pacific Rim: Uprising
Alexander
War for the Planet of the Apes
Pearl Harbor
Transformers
Frozen II
Wonder Woman
Frozen
Zootopia
Harry Potter and the Order of the Phoenix
Harry Potter and the Goblet of Fire
The Matrix Reloaded
I am Legend
Moana
Hancock
Batman Begins
Charlie and the Chocolate Factory
Ratatouille
Thor: The Dark World
Mission: Impossible—Rogue Nation
Dunkirk
Thor
Madagascar: Escape 2 Africa
X-Men Origins: Wolverine
Night at the Museum: Battle of the Smithsonian
Kung Fu Panda 2
Mad Max: Fury Road
Pokémon: Detective Pikachu
The Matrix Revolutions
Ready Player One
Chicken Little
Mission: Impossible III
Angels & Demons
Troy
The Last Airbender
Bee Movie
G-Force
Bolt
Wrath of the Titans
Beowulf
Dark Shadows
White House Down
The Wolfman
The Great Wall
Pan
Mars Needs Moms
Moonfall
Flushed Away
Madagascar 3: Europe's Most Wanted
Mission: Impossible—Ghost Protocol
How to Train Your Dragon 2
Tarzan
Mr. Peabody & Sherman
Rise of the Guardians
Sahara
Ghostbusters
Die Another Day
Pirates of the Caribbean: The Curse of the Blac…
Star Trek
Armageddon
Men in Black 2
Captain America: The First Avenger
Kung Fu Panda 3
Lethal Weapon 4
G.I. Joe: Retaliation
The Last Samurai
Fun With Dick And Jane
Exodus: Gods and Kings
The BFG
Gemini Man
Gods of Egypt
Top Gun: Maverick
Spider-Man
Watchmen
Stealth
The Incredible Hulk
Hulk
Final Fantasy: The Spirits Within
The Twilight Saga: Breaking Dawn, Part 2
The Croods
The Revenant
The World is Not Enough
Rango
Master and Commander: The Far Side of the World
Turbo
Teenage Mutant Ninja Turtles: Out of the Shadows
Happy Feet Two
Miami Vice
The Nutcracker and the Four Realms
War of the Worlds
Penguins of Madagascar
The Hunger Games: Catching Fire
Harry Potter and the Prisoner of Azkaban
The Bourne Ultimatum
Ant-Man and the Wasp
Kung Fu Panda
Ant-Man
Home
Mary Poppins Returns
Puss in Boots
Megamind
Bad Boys II
Rio 2
Salt
Noah
The Adventures of Tintin
After Earth
Australia
R.I.P.D.
How to Train Your Dragon: The Hidden World
The Twilight Saga: Breaking Dawn, Part 1
Dinosaur
Logan
Night at the Museum: Secret of the Tomb
Harry Potter and the Deathly Hallows: Part II
The Hunger Games: Mockingjay - Part 1
Harry Potter and the Sorcerer’s Stone
Jumanji: The Next Level
Harry Potter and the Deathly Hallows: Part I
The Da Vinci Code
X-Men 2
Fast Five
Teenage Mutant Ninja Turtles
Sherlock Holmes: A Game of Shadows
The Day After Tomorrow
The Boss Baby
Clash of the Titans
Trolls
Godzilla
Prometheus
The Bourne Legacy
Batman & Robin
Skyscraper
Total Recall
Assassin’s Creed
Monster Trucks
The 13th Warrior
The Call of the Wild
How the Grinch Stole Christmas
Mission: Impossible 2
The Perfect Storm
Jason Bourne
Fantastic Four: Rise of the Silver Surfer
Life of Pi
Ghost Rider
Rampage
Charlie's Angels: Full Throttle
Elysium
Oblivion
Power Rangers
Stuart Little 2
RoboCop
The Chronicles of Riddick
The Fantastic Four
Speed Racer
The Island
How Do You Know?
Knight and Day
Venom
Star Wars Ep. I: The Phantom Menace
Star Wars Ep. III: Revenge of the Sith
Star Wars Ep. II: Attack of the Clones
Monsters, Inc.
The Wolverine
Dante's Peak
The Huntsman: Winter’s War
Windtalkers
Astérix aux Jeux Olympiques
Gulliver's Travels
Ferdinand
Deadpool 2
Gravity
Night at the Museum
Mr. and Mrs. Smith
San Andreas
The Smurfs
Live Free or Die Hard
The Divergent Series: Insurgent
Ocean's Twelve
Tomorrow Never Dies
The Patriot
300: Rise of an Empire
The Aviator
Passengers
The Green Hornet
Miss Peregrine’s Home for Peculiar Children
Real Steel
Men in Black: International
The A-Team
The Smurfs 2
The Divergent Series: Allegiant
The Taking of Pelham 123
Ender's Game
Home on the Range
Speed 2: Cruise Control
Kingdom of Heaven
Ghost in the Shell
Around the World in 80 Days
The Lord of the Rings: The Fellowship of the Ring
The Cat in the Hat
Ali
The Martian
Allied
I, Robot
Stuart Little
The Princess and the Frog
10,000 B.C.
Ice Age: Collision Course
Town & Country
Kingsman: The Golden Circle
Gone in 60 Seconds
Gladiator
The Hangover 3
A Wrinkle in Time
Public Enemies
Casino Royale
Minority Report
Bumblebee
Cloud Atlas
Harry Potter and the Chamber of Secrets
Terminator 2: Judgment Day
Batman Forever
Planet of the Apes
National Treasure
Django Unchained
Little Fockers
1917
True Lies
American Gangster
Cloudy with a Chance of Meatballs
The Other Guys
Lemony Snicket's A Series of Unfortunate Events
The Wolf of Wall Street
Epic
Eraser
The Hunchback of Notre Dame
The Emperor's New Groove
The Expendables 2
Where the Wild Things Are
Eragon
Hercules
The Tourist
End of Days
The Stepford Wives
Surf's Up
Blood Diamond
Midway
Legend of the Guardians: The Owls of Ga'Hoole
Starship Troopers
Land of the Lost
Peter Pan
Wonder Park
Catwoman
The Expendables 3
Treasure Planet
Green Zone
Geostorm
Point Break
In the Heart of the Sea
Transcendence
Son of the Mask
Mortal Engines
The Adventures of Pluto Nash
Jin líng shí san chai
Artemis Fowl
The Peanuts Movie
The LEGO Movie 2: The Second Part
Robin Hood
The Mummy Returns

Ford v. Ferrari
Gangs of New York
Alien: Covenant
Cinderella
Ice Age: Continental Drift
Black Hawk Down
Sex and the City 2
Percy Jackson & the Olympians: The Lightning Thief
The Campaign
Unstoppable
The Fifth Element
The Road to El Dorado
The Lovely Bones
Ben-Hur
Seventh Son
Finding Nemo
The Lord of the Rings: The Return of the King
The Lord of the Rings: The Two Towers
Lara Croft: Tomb Raider
Kingsman: The Secret Service
Jurassic Park III
Rise of the Planet of the Apes
The Spiderwick Chronicles
The Incredibles
A Good Day to Die Hard
The Alamo
Cutthroat Island
The Secret Life of Walter Mitty
Jumanji: Welcome to the Jungle
Men in Black
Toy Story 2
Rush Hour 2
Sherlock Holmes
Ice Age: Dawn of the Dinosaurs
Spider-Man: Into The Spider-Verse 3D
Bad Boys For Life
What Lies Beneath
Rio
Once Upon a Time…in Hollywood
The Departed
Charlie's Angels
Mulan
Tropic Thunder
The Girl with the Dragon Tattoo
Contact
You Don't Mess With the Zohan
Die Hard: With a Vengeance
The Magnificent Seven
Alvin and the Chipmunks: The Road Chip
Atlantis: The Lost Empire
Valkyrie
Sonic The Hedgehog
Pixels
Artificial Intelligence: AI
The Haunted Mansion
Hollow Man
The Interpreter
Percy Jackson: Sea of Monsters
Lara Croft: Tomb Raider: The Cradle of Life
Now You See Me 2
Spy Game
The Saint
Mission to Mars
Tomb Raider
Bicentennial Man
King Arthur
Volcano
The Devil's Own
K-19: The Widowmaker
Conan the Barbarian

In [119]:
#adding lists to movies DataFrame
movies_df['Rated']=rated_list
movies_df['IMDB_Rating']=imdb_rating_list
movies_df['Metascore']=metascore_list
movies_df['Rotten Tomatoes']=rotten_tomatoes_score_list
movies_df.head()

,ReleaseDate,Movie,ProductionBudget,DomesticGross,WorldwideGross,Rated,IMDB_Rating,Metascore,Rotten Tomatoes
0,"Apr 23, 2019",Avengers: Endgame,"$400,000,000","$858,373,000","$2,797,800,564",PG-13,8.5/10,78,94%
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$379,000,000","$241,063,875","$1,045,663,875",PG-13,6.6/10,45,33%
2,"Apr 22, 2015",Avengers: Age of Ultron,"$365,000,000","$459,005,868","$1,403,013,963",PG-13,7.3/10,66,75%
3,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,068,223,624",NaN,NaN,NaN,NaN
4,"Apr 25, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,359,754",PG-13,8.5/10,68,85%

In [140]:
#droping all rows with NaN values
movies_NaN=movies_df[movies_df['Rotten Tomatoes']=='NaN'].index
movies_df=movies_df.drop(movies_NaN)
movies_df=movies_df.reset_index()
movies_df=movies_df.drop(columns=['index'])
movies_df

,ReleaseDate,Movie,ProductionBudget,DomesticGross,WorldwideGross,Rated,IMDB_Rating,Metascore,Rotten Tomatoes
0,"Apr 23, 2019",Avengers: Endgame,"$400,000,000","$858,373,000","$2,797,800,564",PG-13,8.5/10,78,94%
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$379,000,000","$241,063,875","$1,045,663,875",PG-13,6.6/10,45,33%
2,"Apr 22, 2015",Avengers: Age of Ultron,"$365,000,000","$459,005,868","$1,403,013,963",PG-13,7.3/10,66,75%
3,"Apr 25, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,359,754",PG-13,8.5/10,68,85%
4,"May 24, 2007",Pirates of the Caribbean: At World’s End,"$300,000,000","$309,420,425","$963,420,425",PG-13,7.1/10,50,44%
...,...,...,...,...,...,...,...,...,...
459,"Jul 7, 2004",King Arthur,"$90,000,000","$51,877,963","$203,877,963",PG-13,6.3/10,46,31%
460,"Apr 25, 1997",Volcano,"$90,000,000","$47,546,796","$120,100,000",PG-13,5.5/10,55,50%
461,"Mar 26, 1997",The Devil's Own,"$90,000,000","$42,885,593","$140,900,000",R,6.2/10,53,34%
462,"Jul 19, 2002",K-19: The Widowmaker,"$90,000,000","$35,168,966","$65,716,126",PG-13,6.7/10,58,61%
463,"Aug 19, 2011",Conan the Barbarian,"$90,000,000","$21,295,021","$63,356,133",R,6.9/10,43,66%

In [142]:
conn='mongodb://localhost:27017'
client=pymongo.MongoClient(conn)

In [154]:
db=client.movies_db
db.command('dropDatabase')
collection=db.movies

In [155]:
for i in movies_df.index:
    movie_dict=movies_df.iloc[i].to_dict()
    collection.insert_one(movie_dict)